<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- chevron.svg in sprite not working. separate svg file used. -->
    <img
      class="icon icon--white collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
    autem.
  </div>
</div>
<div class="collapsible collapsible--expanded">
  <header class="collapsible__header">
    <h2 class="collapsible__heading">Item 1</h2>
    <!-- chevron.svg in sprite not working. separate svg file used. -->
    <img
      class="icon icon--white collapsible__chevron"
      src="images/chevron.svg"
      alt=""
    />
  </header>
  <div class="collapsible__content">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus,
    autem.
  </div>
</div>
<script src="js/main.js"></script>
